<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710969667908-agn7emq0pik74c1uhbfk39af3fp60apa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710969667908-agn7emq0pik74c1uhbfk39af3fp60apa</string>
	<key>API_KEY</key>
	<string>AIzaSyBW-tab3BtcQ_dahz4blwFWFtgvQLOiJwM</string>
	<key>GCM_SENDER_ID</key>
	<string>710969667908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.ahasale</string>
	<key>PROJECT_ID</key>
	<string>ahasale-49ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>ahasale-49ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710969667908:ios:c732ade3f430b83dc3e711</string>
</dict>
</plist>